.page-service {

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 50.0%), linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%), url('../img/img-bg-page-service.png');
    background-repeat: no-repeat;
    width: 945px;
    height: 600px;
    z-index: -1;
  }


  &__title {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 20px;

    @include media-min ($lg) {
      font-size: 50px;
      margin-bottom: 50px;
    }
  }

  &__descr {
    font-size: 16px;
    color: var(--gray-50);
    display: grid;
    row-gap: 15px;
    font-weight: 400;
    margin-bottom: 50px;

    & p {
      margin: 0;
    }
  }

  &__img {
    display: flex;
    max-width: 730px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
  }

  &__btn {
    width: 100%;

    @include media-min ($lg) {
      width: auto;
    }
  }
}
