.page-service {

  &__title {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 20px;

    @include media-min ($lg) {
      font-size: 50px;
      margin-bottom: 50px;
    }
  }

  &__descr {
    font-size: 16px;
    color: var(--gray-50);
    display: grid;
    row-gap: 15px;
    font-weight: 400;
    margin-bottom: 50px;

    & p {
      margin: 0;
    }
  }


  &__btn {
    width: 100%;

    @include media-min ($lg) {
      width: auto;
    }
  }
}
