.nav {
  width: 70%;

  &__list {

    & a {
      color: var(--accent);
      transition: color .3s ease-in-out;

      &:hover {
        color: var(--white);
      }
    }
  }

  &--sm {
    max-width: 345px;
    width: 100%;
    margin: 0 auto;
    margin-top: 9rem;

    @include media-min ($lg) {
      display: none;
    }

    & .nav__list {
      display: grid;
    }

    & a {
      padding: 14px 0;
      border-bottom: 1px solid var(--gray-70);
      width: 100%;
      text-align: center;
    }

    & li {
      display: flex;
      width: 100%;
      align-items: center;
    }

    & li:first-child a {
      border-top: 1px solid var(--gray-70);
    }
  }

  &--lg {
    display: none;

    @include media-min ($lg) {
      display: block;
    }

    & .nav__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
