.about {
  padding: 50px 0;

  @include media-min ($lg) {
    padding: 20px 0 100px;
  }



  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    pointer-events: none;
    border-radius: 100%;

    & svg {
      transform-origin: center;
      color: var(--accent-50);
      margin-left: 10px;
      transition: color .3s ease-in-out, transform .3s ease-in-out;
    }
  }


  &__bottom {
    position: relative;
    z-index: 1;

    @include media-min ($lg) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__list {
    background-color: var(--accent);
    display: flex;
    padding: 20px 0;
    margin-bottom: 10px;
    overflow-x: scroll;

    @include media-min ($md) {
      overflow-x: auto;
    }

    @include media-min ($lg) {
      padding: 30px 0;
      margin-top: 80px;
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    min-width: 200px;

    @include media-min ($md) {
      flex-grow: 1;
      min-width: auto;
      width: 100%;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: var(--gray-10);
      opacity: 0.5;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 20px;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--boilers {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3569 0.0807546C10.8639 0.432503 9.64454 1.94111 9.63672 3.44973V3.82492H50.2051V3.44973C50.1973 2.01146 49.1108 0.604469 47.649 0.151104C47.1488 -0.00522842 46.9534 -0.00522842 29.8896 0.00258822C20.2205 0.0104049 12.5211 0.0416714 12.3569 0.0807546Z' fill='%239BD27D' /%3E%3Cpath d='M9.63672 43.7922H50.3614V5.56972H9.63672V43.7922ZM30.3899 9.73431C31.3201 10.3987 32.0158 11.2664 32.3831 12.2278C32.6489 12.9079 32.6567 14.1742 32.3988 15.0027C32.1408 15.8235 31.664 16.7302 31.1168 17.465C30.5071 18.2701 30.2101 18.8798 30.1319 19.4582C30.0694 19.8959 30.1163 20.5682 30.2336 20.9356C30.257 21.0294 30.257 21.0997 30.2179 21.0997C30.0694 21.0997 29.2487 20.748 28.6077 20.4118C27.3727 19.7631 26.5441 18.9501 26.2002 18.0512C25.9813 17.465 26.0126 16.4175 26.2862 15.7844C26.5519 15.1591 27.0913 14.3696 27.6853 13.7286C29.2721 12.009 29.9131 10.344 29.3737 9.3044L29.2487 9.05427L29.5848 9.22623C29.7724 9.32003 30.1319 9.54672 30.3899 9.73431ZM33.6416 14.651C34.0794 15.5577 34.2044 16.144 34.1653 17.0351C34.1341 17.6448 34.0872 17.8558 33.9074 18.2076C33.5556 18.9032 33.2821 19.1846 32.2424 19.9428C31.6953 20.3337 31.1716 20.7245 31.0699 20.8183C30.8433 21.0215 30.7729 20.9277 30.7026 20.3571C30.6088 19.5989 30.8745 18.8954 31.664 17.848C32.3128 16.9803 32.4926 16.6442 32.8131 15.6906C33.0085 15.1043 33.0945 14.6901 33.1101 14.307C33.1257 13.6505 33.1726 13.6739 33.6416 14.651ZM38.3941 33.5907C38.7381 33.7627 38.9491 34.1691 38.9491 34.6381C38.9491 35.0993 38.8553 35.3573 38.5896 35.5996L38.3785 35.795H29.5379C22.6436 35.7872 20.666 35.7715 20.5722 35.6934C19.9234 35.2009 19.9703 33.9659 20.666 33.5907C20.9161 33.4578 21.346 33.45 29.5301 33.45C37.5656 33.45 38.144 33.4578 38.3941 33.5907Z' fill='%239BD27D' /%3E%3Cpath d='M9.71566 49.8493C9.71566 54.422 9.72348 54.5549 10.1612 55.3522C10.427 55.8369 11.0914 56.5013 11.5838 56.767C12.4437 57.2438 11.2712 57.2126 30.0389 57.2126C44.1167 57.2126 47.2668 57.1891 47.5873 57.1031C48.8223 56.7748 49.7681 55.8759 50.1433 54.6878C50.284 54.2344 50.2918 53.9609 50.2997 50.0994C50.2997 47.8404 50.2918 45.9175 50.2918 45.8159L50.284 45.644H9.71566V49.8493ZM31.4694 48.2C32.8373 48.8488 33.6111 50.1385 33.5408 51.6628C33.5173 52.2412 33.4704 52.421 33.2203 52.9447C32.423 54.6175 30.5861 55.3913 28.8273 54.7894C28.2802 54.6018 27.8112 54.2735 27.3578 53.7733C25.6616 51.8894 26.498 48.8566 28.929 48.0593C29.2729 47.942 29.5543 47.9186 30.1562 47.9342C30.844 47.9499 31.0004 47.9811 31.4694 48.2Z' fill='%239BD27D' /%3E%3Cpath d='M20.5787 58.174C20.5787 58.7681 21.0633 59.4716 21.6964 59.8077C22.1498 60.05 22.9862 60.05 23.4317 59.8155C24.0258 59.5029 24.5573 58.7446 24.5651 58.2053V57.9942H20.5787V58.174Z' fill='%239BD27D' /%3E%3Cpath d='M35.4304 58.0959C35.4304 58.1584 35.4773 58.3694 35.5398 58.5727C35.9463 59.9093 37.5018 60.433 38.643 59.5967C39.0495 59.2996 39.4169 58.6665 39.4169 58.2522V57.9943H37.4236C35.8056 57.9943 35.4304 58.0177 35.4304 58.0959Z' fill='%239BD27D' /%3E%3C/svg%3E");
        ;
      }
    }

    &--buyers {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55 48.7204C55 48.628 54.9854 48.5403 54.9731 48.451V27.7326V27.7257C54.9731 27.4694 54.9226 27.2155 54.8244 26.9787C54.7263 26.7419 54.5825 26.5267 54.4012 26.3455C54.2199 26.1643 54.0047 26.0206 53.7679 25.9225C53.531 25.8245 53.2771 25.7741 53.0208 25.7742C52.9846 25.7742 52.9515 25.7827 52.9162 25.785H53.4644V25.7988C52.9596 25.8128 52.48 26.0222 52.1267 26.383C51.7734 26.7438 51.574 27.2277 51.5706 27.7326H51.5644L47.3233 48.8958H47.3564C47.4003 49.366 47.6141 49.8041 47.9577 50.1281C48.3013 50.452 48.7513 50.6396 49.2233 50.6557V50.6726H53.0485C54.1258 50.6726 55 49.7985 55 48.7204ZM7.30316 45.5484L7.33548 45.5846L7.29931 45.5484H7.30316Z' fill='%239BD27D' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.9604 51.9777L50.3221 23.8958L50.3229 23.8889C50.3229 23.6326 50.2724 23.3787 50.1743 23.1419C50.0761 22.9051 49.9323 22.6899 49.751 22.5087C49.5697 22.3275 49.3545 22.1838 49.1176 22.0857C48.8808 21.9877 48.627 21.9373 48.3706 21.9374C48.3352 21.9374 48.3014 21.9459 48.266 21.9482L33.7599 21.9382C33.6461 21.7562 33.5073 21.5911 33.3474 21.448L25.7446 8.27775L25.7253 8.28929C24.9635 6.94033 23.5338 6.03 21.8932 6.03C19.453 6.03 17.4746 8.03689 17.4746 10.5124H17.43V21.9374L8.99975 21.9379C6.79071 21.9381 5 23.7289 5 25.9379V45.5484H5.00462C5.00462 45.797 5.10004 46.0455 5.2878 46.2364L5.28549 46.2387L12.799 53.7522L12.8175 53.7338C13.0337 53.9115 13.2992 53.9785 13.5616 53.9431L41.845 53.9531C41.9012 53.9577 41.9551 53.97 42.012 53.97C42.5112 53.9692 42.991 53.7768 43.3523 53.4323C43.7136 53.0879 43.9289 52.6179 43.9535 52.1193H43.9597V52.0593C43.9597 52.0455 43.9635 52.0324 43.9635 52.0185C43.9635 52.0047 43.9612 51.9916 43.9604 51.9777ZM7.33548 45.5846L7.30316 45.5484H7.29931L7.33548 45.5846Z' fill='%239BD27D' /%3E%3C/svg%3E");
      }
    }

    &--years {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_611_3746)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.784 3.79245C28.5345 3.84613 27.3504 4.36618 26.4654 5.25L21.7154 10H15.0004L14.6254 10.015C13.368 10.1096 12.1927 10.6758 11.335 11.6002C10.4773 12.5246 10.0006 13.739 10.0004 15V21.715L5.25041 26.465L4.96041 26.7825C4.15504 27.7402 3.73803 28.965 3.79172 30.2152C3.84541 31.4653 4.3659 32.6499 5.25041 33.535L10.0004 38.285V45L10.0129 45.375C10.1075 46.6329 10.6741 47.8085 11.599 48.6663C12.524 49.524 13.739 50.0004 15.0004 50H21.7179L26.4679 54.75L26.7854 55.04C27.7431 55.8454 28.9679 56.2624 30.2181 56.2087C31.4682 56.155 32.6528 55.6345 33.5379 54.75L38.2879 50H45.0004L45.3729 49.9875C46.6308 49.8929 47.8064 49.3263 48.6642 48.4014C49.5219 47.4764 49.9983 46.2614 49.9979 45V38.285L54.7479 33.535L55.0404 33.2175C55.8458 32.2598 56.2628 31.035 56.2091 29.7848C56.1554 28.5347 55.6349 27.3501 54.7504 26.465L50.0004 21.715V15L49.9854 14.625C49.8908 13.3675 49.3246 12.1923 48.4002 11.3346C47.4758 10.4769 46.2614 10.0002 45.0004 10H38.2854L33.5354 5.2525L33.2154 4.96C32.2579 4.15534 31.0336 3.73876 29.784 3.79245ZM25.1429 38.195L18.0704 31.0898C17.6772 30.6949 17.6828 30.0548 18.0827 29.6667L18.4309 29.3287C18.8206 28.9506 19.4408 28.9525 19.8282 29.333L26.3843 35.7741C26.7744 36.1574 27.4002 36.1562 27.7888 35.7714L40.466 23.2172C40.8684 22.8187 41.5211 22.8336 41.9049 23.25L42.2803 23.6572C42.6446 24.0523 42.6313 24.6648 42.2504 25.0438L29.0329 38.195C28.7775 38.4505 28.4743 38.6532 28.1406 38.7915C27.8069 38.9297 27.4492 39.0009 27.0879 39.0009C26.7267 39.0009 26.369 38.9297 26.0352 38.7915C25.7015 38.6532 25.3983 38.4505 25.1429 38.195Z' fill='%239BD27D' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_611_3746'%3E%3Crect width='60' height='60' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.1;
    color: var(--white);
    margin-bottom: 10px;
    margin-top: 70px;

    @include media-min ($xl) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 16px;
    color: var(--accent-30);
  }

  &__descr {
    width: 100%;
    background-color: var(--white);

    @include media-min ($lg) {
      max-width: 540px;
      padding-right: 50px;
    }
  }

  &__title {
    color: var(--gray-10);
    border-bottom: 1px solid var(--gray-10);
    padding: 12px 0;
    margin-bottom: 30px;
  }

  &__descr-list {
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-min ($lg) {}

    max-width: 440px;

    & li {
      color: var(--gray-70);
    }
  }
}
