.hero {
  position: relative;
  padding-top: 150px;

  @include media-min ($lg) {
    padding-top: 200px;
  }

  &::after {
    --background: rgba(35, 31, 30, 0.6);

    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/img-bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(var(--background), var(--background));
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 35px;
    line-height: 110%;
    color: var(--white);
    margin: 0;
    margin-bottom: 50px;

    @include media-min ($lg) {
      font-size: 80px;
    }
  }

  &__bottom {
    border-top: 1px solid var(--gray-70);
    margin-top: 130px;

    @include media-min ($lg) {
      margin-top: 350px;
    }
  }

  &__list {
    display: flex;
    margin-top: 10px;
    row-gap: 10px;
    overflow-x: scroll;

    @include media-min ($md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow-x: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    padding: 0 20px 10px;
    border-right: 1px solid var(--gray-70);

    @include media-min ($md) {

      &:first-child,
      &:nth-child(3n+1) {
        border-left: 1px solid var(--gray-70);
      }
    }

    &:first-child {
      padding-left: 0;

      @include media-min ($md) {
        padding-left: 20px;
      }
    }

  }

  &__item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    color: var(--accent);
    margin-bottom: 5px;

    @include media-min ($lg) {
      font-size: 50px;
      margin-bottom: 10px;
    }
  }

  &__item-descr {
    margin: 0;


    @include media-min ($lg) {
      padding-left: 130px;
    }
  }
}
