.projects {
  padding: 50px 0;

  @include media-min ($lg) {
    padding: 100px 0;
  }

  &__title {
    color: var(--black);
    margin-bottom: 20px;

    @include media-min ($lg) {
      margin-bottom: 0;
    }
  }

}

.project {
  position: relative;

  &--hover {

    @media (any-hover: hover) {
      &:hover {

        & .project__img {
          & img {
            transform-origin: center;
            transform: scale(1.3);
          }
        }

        & .project__info {
          background-color: var(--accent);

          &::after {
            content: none;
          }
        }

        & .project__date {
          color: var(--accent-50);
        }

        & .project__descr {
          color: var(--white);
        }

        & .project__btn {
          color: var(--accent);
          background-color: var(--black);

          & > svg {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__img {
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 54%;
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-top: 1px solid var(--black);

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: transform .3s ease-in-out;
    }
  }

  &__info {
    background-color: #000000;
    display: grid;
    transition: background-color .3s ease-in-out;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url(../img/sprite.svg#icon-dot-white);
      background-size: 20px;
      background-repeat: repeat;
      opacity: 0.15;
      transition: background-image .3s ease-in-out;
    }

    @include media-min ($lg) {
      display: flex;
      padding: 30px;
      justify-content: space-between;


    }
  }

  &__date {
    font-weight: 600;
    padding: 10px 10px 0;
    margin-bottom: 20px;
    color: var(--gray-50);
    transition: color .3s ease-in-out;

    @include media-min ($lg) {
      padding: 0;
      margin-bottom: 0;
      margin-right: 30px;
    }
  }

  &__descr {
    padding: 0 10px;
    margin-bottom: 20px;
    color: var(--gray-30);
    transition: color .3s ease-in-out;

    @include media-min ($lg) {
      padding: 0;
      margin-bottom: 0;
    }

    & p {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.1;
    color: var(--white);
  }

  &__btn {
    position: static;
    justify-self: flex-end;
    color: var(--accent);
    background-color: var(--white);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-min ($lg) {
      margin-left: auto;
    }

    & svg {
      margin-left: 0;
    }

    &::after {
      position: absolute;
      z-index: 2;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.projects-slider {
  position: relative;
  display: flex;
  justify-content: center;

  & .swiper-slide {
    opacity: 0.2;
    max-width: 920px !important;
    transition: opacity .5s ease-in-out;
  }

  & .swiper-slide-active {
    opacity: 1;
  }

  & .slider-controls-btn {
    position: absolute;
    z-index: 1;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 15px;
  }

}
