.products {
  padding: 50px 0;

  @include media-min ($lg) {
    padding-top: 100px;
  }

  &--page-product {
    background-color: var(--white);

    & .products__info {
      @include media-max ($lg) {
        flex-direction: column;
        align-items: flex-start;

        & .title {
          margin-bottom: 10px;
        }

      }
    }
  }

  &__top {
    display: flex;
    gap: 90px;
    margin-bottom: 50px;

    @include media-min ($lg) {
      margin-bottom: 20px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @include media-min ($lg) {
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: 1px solid var(--gray-10);
      padding-bottom: 10px;
      margin-bottom: 25px;
    }
  }


  &__slide {
    width: auto;

  }

  &__slide + &__slide {
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: -15px;
      width: 2px;
      height: 100%;
      background-color: var(--gray-10);
    }
  }
}
