.service {
  position: relative;
  padding: 20px;
  background-color: #000000;
  width: 100%;
  flex-shrink: 0;
  min-height: 250px;
  transition: .3s;

  @include media-min ($lg) {
    background-color: var(--gray-10);
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/sprite.svg#icon-dot-white');
    background-size: 20px;
    background-repeat: repeat;
    opacity: .15;

    @include media-min ($lg) {
      content: none;
    }
  }

  &:hover {
    background-color: #000000;

    &::after {
      content: '';
    }

    & .service__title {
      color: var(--white);
    }

    & .service__btn {
      color: var(--white);
      background-color: var(--accent);
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 0;
    color: var(--white);
    font-size: 16px;
    transition: .3s;

    @include media-min ($lg) {
      color: var(--black);
    }
  }

  &__btn {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: var(--accent);
    width: 50px;
    height: 50px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    @include media-min ($lg) {
      background-color: var(--white);
      color: var(--accent);
    }
  }
}
