.services {
  padding: 50px 0;

  @include media-min ($lg) {
    padding: 100px 0;
  }

  & .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
    color: var(--black);
    transition: .3s;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-10);
    padding-bottom: 5px;

    @include media-min ($lg) {
      font-size: 40px;
    }

    &.accordion__control--open {
      color: var(--accent);
      border-color: var(--accent)
    }
  }

  & .accordion__content {
    overflow-x: scroll;
    padding-top: 20px;
    display: flex;
    gap: 30px;

    @include media-min ($lg) {
      overflow-x: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
