.categories {
  background-color: var(--gray-10);
  padding: 20px 0;

  @include media-min ($lg) {
    padding: 50px 0;
  }

  &__title {
    font-size: 25px;
    line-height: 1.1;
    color: var(--gray-20);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;

    @include media-min ($lg) {
      font-size: 40px;
      margin-bottom: 0;
    }
  }

  &__list {
    display: grid;
    gap: 30px;
    padding-top: 10px;

    border-top: 1px solid var(--gray-20);

    @include media-min ($lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 20px 0;

    &:nth-child(n+2) {
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--gray-20);


        @include media-max ($lg) {
          top: -15px;
          left: 0;
        }

        @include media-min ($lg) {
          width: 1px;
          height: 100%;
          bottom: 0;
          left: -15px;
        }
      }
    }

    &:nth-child(5n) {
      &::after {
        content: none;
      }
    }

  }

  &__subtitle {
    margin: 0;

    & a {
      font-size: 18px;
      line-height: 1.1;
      color: var(--black);

      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }

  &__img {
    max-width: 180px;
    height: 180px;
    margin-left: auto;
  }
}


.category {
  position: relative;
  padding-top: 50px;

  @include media-min ($lg) {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding-top: 100px;
  }

  &__title {
    margin: 0;
    line-height: 1.1;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 30px;
    flex-grow: 1;

    @include media-min ($lg) {
      font-size: 40px;
      margin-bottom: 0;
      position: sticky;
      top: 100px;
    }
  }

  &__list {
    display: grid;
    row-gap: 45px;
    max-width: 730px;
    width: 100%;
  }

}

.subcategory {
  &__title {
    margin: 0;
    font-size: 18px;
    color: var(--gray-20);
    margin-bottom: 10px;

    @include media-min ($lg) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    row-gap: 10px;
  }
}
