.categories-modal {
  pointer-events: none;
  position: relative;

  &[aria-hidden="false"] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);

    & .categories-modal__content {
      @include anim(fade-left, .3s);

      display: block;
    }
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    width: 100%;
    color: var(--black);
    background-color: var(--gray-10);
    overflow: auto;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L20.9995 21M1 21L21 1' stroke='%2371BF46' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22px;
    height: 22px;
  }

  @include media-min ($xl) {
    display: none;
  }
}
