.breadcrumbs {
  --breadcrumbs-text: var(--gray-30);

  color: var(--breadcrumbs-text, var(--main-text));
  background-color: transparent;
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;

  & a {
    color: inherit;
    text-decoration-color: transparent;
  }

  @include media-min ($xl) {
    margin-top: 120px;
    margin-bottom: 100px;

    & a {
      transition: color .2s ease-in-out, text-decoration-color .2s ease-in-out;

      &:hover {
        color: var(--accent);
        text-decoration-color: var(--accent);
      }
    }
  }
}
