.btn {
  @include btn-reset;

  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: color .3s ease-in-out;
  position: relative;
  z-index: 1;

  &--primary {
    @include set-font(18px, 1.1, 600);

    justify-content: center;
    padding: var(--btn-offset, var(--btn-offset-vertical, 14px) var(--btn-offset-horizontal, 26px));
    color: var(--btn-text);
    background-color: var(--btn-bg);
    border: 1px solid var(--accent);

    &:hover {
      color: var(--accent);
      background-color: var(--white);
    }
  }

  &--secondary {
    @include set-font(16px, 1.1, 600);

    color: var(--gray-30);

    & svg {
      margin-left: 10px;
      transition: transform .3s ease-in-out;
    }

    &:hover {
      color: var(--accent);

      & svg {
        transform: rotate(45deg);
      }
    }
  }
}
