.contact {

  &--phone,
  &--mail {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left start;
    padding-left: 50px;

    @include media-min ($xl) {
      padding-left: 0;
      padding-top: 60px;
    }
  }

  &--phone {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_876_2999)'%3E%3Cpath d='M20 15H23.3333C23.3333 12.7899 22.4554 10.6702 20.8926 9.10744C19.3298 7.54464 17.2101 6.66667 15 6.66667V10C16.3261 10 17.5979 10.5268 18.5355 11.4645C19.4732 12.4021 20 13.6739 20 15ZM26.6667 15H30C30 6.66667 23.2833 0 15 0V3.33333C21.4333 3.33333 26.6667 8.55 26.6667 15ZM28.3333 20.8333C26.25 20.8333 24.25 20.5 22.3833 19.8833C21.8 19.7 21.15 19.8333 20.6833 20.3L17.0167 23.9667C12.2891 21.5552 8.44479 17.7109 6.03333 12.9833L9.7 9.31667C10.1667 8.85 10.3 8.2 10.1167 7.61667C9.48553 5.69649 9.16483 3.68791 9.16667 1.66667C9.16667 1.22464 8.99107 0.800716 8.67851 0.488155C8.36595 0.175595 7.94203 0 7.5 0H1.66667C1.22464 0 0.800716 0.175595 0.488155 0.488155C0.175595 0.800716 0 1.22464 0 1.66667C0 9.18113 2.98511 16.3878 8.29864 21.7014C13.6122 27.0149 20.8189 30 28.3333 30C28.7754 30 29.1993 29.8244 29.5118 29.5118C29.8244 29.1993 30 28.7754 30 28.3333V22.5C30 22.058 29.8244 21.634 29.5118 21.3215C29.1993 21.0089 28.7754 20.8333 28.3333 20.8333Z' fill='%23D3D2D2' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_876_2999'%3E%3Crect width='30' height='30' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

  }

  &--mail {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_876_3007)'%3E%3Cpath d='M0 5.69754L0 1.655C0.00249551 1.2173 0.145773 0.798362 0.398881 0.488696C0.651989 0.17903 0.994609 0.00349108 1.35273 0H28.6473C29.3945 0 30 0.741667 30 1.655V28.345C29.9975 28.7827 29.8542 29.2016 29.6011 29.5113C29.348 29.821 29.0054 29.9965 28.6473 30H1.35273C0.993837 29.9996 0.649768 29.825 0.396122 29.5147C0.142475 29.2043 -1.81984e-07 28.7836 0 28.345V26.6667H27.2727V7.16667L14.61 15.1403L0 5.69754ZM0 13.6667H6.81818V17H0V13.6667ZM0 20H10.9091V23.3333H0V20Z' fill='%23D3D2D2' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_876_3007'%3E%3Crect width='30' height='30' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  &__title {
    color: var(--gray-50);
    margin-bottom: 10px;
  }

  &__value {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    color: var(--white);
  }
}
