.modal {
  --modal-bg: #000000;

  position: relative;
  margin: 0 auto;
  padding: 50px 15px;
  width: 100%;
  max-width: 1110px;
  color: var(--modal-text, var(--main-text));
  background-color: var(--modal-bg, var(--main-bg));
  display: flex;
  flex-direction: column;

  @include media-min ($lg) {
    padding: 50px;
    border-image: linear-gradient(90deg, rgba(113, 191, 70, 1) 0%, rgba(53, 89, 33, 1) 100%) 1;
    border-width: 1px;
    border-style: solid;
  }

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/sprite.svg#icon-dot-white");
    background-size: 20px;
    background-repeat: repeat;
    opacity: 0.10;

    @include media-min ($lg) {
      background-size: 16px;
    }
  }

  &__close {
    --modal-icon-color: var(--accent);

    @include btn-reset;

    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--modal-icon-size, var(--modal-icon-width, 20px));
    height: var(--smodal-icon-size, var(--modal-icon-height, 20px));
    color: var(--modal-icon-color, currentColor);
    transition: color .3s ease-in-out;

    @include media-min ($lg) {
      --modal-icon-color: currentColor;

      top: 20px;
      right: 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.1;
    color: var(--white);
    margin-bottom: 50px;

    @include media-min ($lg) {
      font-size: 40px;
    }
  }

  &__top {
    display: grid;
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 50px;

    @include media-min ($lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__field {
    display: grid;
    gap: 20px;

    @include media-min ($lg) {
      gap: 30px;
    }
  }

  & .form-label {
    display: block;
    font-size: 18px;
    line-height: 1.1;
    color: var(--gray-70);
    margin-bottom: 10px;
  }

  & .form-input {
    --input-offset-vertical: 17.5px;
    --input-offset-horizontal: 20px;

    position: relative;

    border: 1px solid var(--gray-50);
    background-color: transparent;
    transition: border-color .1s ease-in-out;

    &:focus-visible {
      box-shadow: none;
      border: 1px solid var(--accent);
    }

  }

  & .form-textarea {
    min-height: 180px;
  }

  & .form-checkbox {
    color: var(--gray-70);

    & a {
      color: inherit;
      transition: color .3s ease-in;

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-min ($lg) {
      flex-direction: row;
      justify-content: space-between;
    }

    & > div {
      max-width: 530px;
    }
  }
}
