.page {

  &--bg-img {
    @include media-min ($lg) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 50.0%),
          linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%),
          var(--background-img);
        background-repeat: no-repeat;
        width: 945px;
        height: var(--background-height, 600px);
      }
    }

  }

  & > section {
    position: relative;
    z-index: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @include media-min ($lg) {
      flex-direction: row;
    }
  }

  &__title {
    font-size: 35px;
    color: var(--black);
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 20px;

    @include media-min ($lg) {
      font-size: 80px;
      margin-bottom: 0;
    }

    &--small {
      font-size: 30px;


      @include media-min ($lg) {
        font-size: 50px;
        margin-bottom: 50px;
      }
    }

    &--news {
      font-size: 30px;

      @include media-min ($lg) {
        margin-bottom: 50px;
      }
    }
  }



  &__descr {
    margin: 0;
    color: var(--gray-50);
    flex-basis: 90%;
    width: 90%;
    margin-bottom: 50px;

  }

  &__text {
    font-size: 16px;
    color: var(--gray-50);
    display: grid;
    row-gap: 15px;
    margin-bottom: 50px;
    max-width: 540px;

    & p {
      margin: 0;
    }
  }

  &__img {
    display: flex;
    max-width: 730px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
  }

  &__nav {
    display: none;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid var(--gray-10);

    padding-top: 10px;
    margin-top: 100px;

    @include media-min ($lg) {
      display: flex;
    }
  }

  &__item {
    font-size: 16px;
    color: var(--gray-30);

    display: flex;
    align-items: center;

    transition: color .3s ease-in-out;


    &:hover {
      color: var(--accent);
    }

    &--prev {

      & > svg {
        transform: rotate(-135deg);
        margin-right: 10px;
      }

      &:hover {
        & > svg {
          transform: rotate(-135deg);
        }
      }

    }

    &--next {

      & > svg {
        transform: rotate(45deg);
        margin-left: 10px;
      }
    }
  }
}
