.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    // margin-top: var(--offset-top, 0);

    &--bg-dark {
      background-color: var(--black);

      & .breadcrumbs {
        --breadcrumbs-text: var(--gray-50);
      }

      & .page__title {
        color: var(--white);
      }

      & .page--bg-img {
        &::after {
          background: linear-gradient(0, #231f1e 0%, rgba(35, 31, 30, 0) 50.08%), linear-gradient(90deg, #231f1e 0%, rgba(35, 31, 30, 0) 100%), var(--background-img);
        }
      }

      & .page__text {
        color: var(--white);
      }

    }

    &--overflow-x {
      overflow: hidden;
    }

  }

  &__footer {
    flex-shrink: 0;
  }

  &__section-top {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    @include media-min ($xl) {
      justify-content: flex-start;
    }

    &--primary {
      margin-bottom: 20px;

      @include media-min ($lg) {
        gap: 90px;
      }
    }

    &--secondary {
      align-items: center;

      @include media-min ($xl) {
        align-items: flex-start;
      }
    }
  }

}
