.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    // margin-top: var(--offset-top, 0);

    &--bg-dark {
      background-color: var(--black);
    }
  }

  &__footer {
    flex-shrink: 0;
  }

  &__section-top {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    @include media-min ($xl) {
      justify-content: flex-start;
    }

    &--primary {
      margin-bottom: 20px;

      @include media-min ($lg) {
        gap: 90px;
      }
    }

    &--secondary {
      align-items: center;

      @include media-min ($xl) {
        align-items: flex-start;
      }
    }
  }

}
