.title {
  margin: 0;
  line-height: 1.1;

  &--primary {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--gray-10);

    @include media-min ($lg) {
      font-size: 50px;
    }
  }

  &--secondary {
    font-size: 25px;

    @include media-min ($lg) {
      font-size: 40px;
    }
  }

}
