.yt-video {
  position: relative;
  width: 100%;
  height: 100%;
}

.yt-video--enabled {
  cursor: pointer;
}

.yt-video--enabled .yt-video__button {
  display: flex;
  border: none;
}

.yt-video--rounding {
  overflow: hidden;
}

.yt-video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yt-video__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0.8;
  pointer-events: none;
}

.yt-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.yt-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 0;
  background-color: var(--accent);
  border-radius: 100%;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: none;
  border: none;
}

.yt-video__button:focus {
  outline: none;
}

.yt-video__button-icon {
  width: 31px;
  height: 36px;
  fill: var(--white);
  padding-left: 5%;
}

@media (min-width: 992px) {
  .yt-video:hover .yt-video__button-icon {
    transform: scale(0.95);
  }

  .yt-video__link img {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }

  .yt-video__link:hover img {
    transform: scale(1.02);
  }

  .yt-video__button-icon {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
}
