.page-about {
  --background-img: linear-gradient(0, #231f1e 0%, rgba(35, 31, 30, 0) 50.08%),
    linear-gradient(90deg, #231f1e 0%, rgba(35, 31, 30, 0) 100%),
    url('../img/img-bg-page-about.png');
  --background-height: 500px;

  @include media-min ($xl) {
    --background-height: 550px;
  }

  &__top {
    max-width: 500px;
    flex-direction: column;

    @include media-min ($lg) {
      margin-bottom: 150px;
    }
  }

  & .page__title {
    @include media-min ($lg) {
      margin-bottom: 30px;
    }
  }

  & .page__descr {
    width: 100%;
    flex-basis: 100%;
    color: var(--white);
  }
}
